#process {
    overflow-x: hidden;
    overflow-y: visible;
}



.section-title {
    text-align: center;
    margin: 30px;
    font-weight: 550;
}


.steps-pane img {
    width: 100%; height: 100%;
    object-fit: cover;
    image-rendering: high-quality;
    /*border-radius: .5rem

     */
}

.pane-warp {
    height: 200px;
    width: 0px;
    margin-left: 20%;
    margin-top: 20px;
}

.steps-pane {
    height: 270px;
    width: 270px;

    /*
    border-radius: 0.5rem;

     */
}



.inverted-pane-warp {
    height: 140px;
    width: 0px;
    margin-left: 20%;

}

.inverted-steps-pane {
    height: 140px;

}

.inverted-steps-pane p {
    -ms-transform: skewX(15deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg);
    /* Safari */
    -o-transform: skewX(15deg);
    /* Standard syntax */
    -moz-transform: skewX(15deg);
    padding: 20px 10px 10px 10px;
}

.steps-pane h1, .steps-pane p, .steps-pane h2 {
    text-align: center !important;
}

.steps-pane p{
    font-size: .65vmax;
    font-family: 'Tenorite', sans-serif;

}

.steps-pane h2 {
    font-weight: bold;
    font-size: x-large;
}

@media (max-width: 1300px) {

    .steps-pane p{
        font-size: .85vmax ;
    }

}


.steps-pane h1 {
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ad172c;
    color: transparent;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: default;

}

.steps-pane h1:hover {
    color: #ad172c;
}

@media (min-width: 900px) {
    .steps-timeline {
        border-top: 5px solid #ad172c;
        padding-top: 20px;
        margin-top: 340px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .mobile-only{
        display: none;
    }

    .steps-one,
    .steps-two,
    .steps-three,
    .steps-four,
    .steps-five {
        float: left;
        width: 25%;
        margin-top: -05px;
    }

    .step-wrap {
        height: 50px;
        width: 270px;
        border-radius: 50%;
        background: transparent;
        margin-top: -25px;
        margin-left: 20%;
    }

    .step-wrap2 {
        height: 50px;
        width: 270px;
        border-radius: 50%;
        background: transparent;
        transform: rotate(180deg);
        margin-top: -75px;
        margin-left: 20%;

    }

    .verticle-line {
        position: absolute;
        height: 57px;
        width: 5px;
        margin-left: 50%;
    }

    .steps-stops {
        margin: 20px auto;
        background: #ad172c;
        position: relative;
    }

    .end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: 19px;
        margin-left: -10px;
    }

    .inverted-end-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        margin-top: 19px;
        margin-left: 18.1%;
    }

    .setup {
        margin-top: -375px
    }
}


.back-blue .steps-pane{
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

@media (max-width: 899px) {
    #process{
        overflow: visible;
    }

    .steps-two, .steps-four{
        display: none;
    }

    .mobile-only{
        display: block;
    }

    .back-orange{
        margin-top: -100px;
        margin-bottom: -100px;
    }

    .back-blue .steps-pane{
        box-shadow: none;
    }

    #process .container-fluid {
        width: 50%;
        height: 100%;
        overflow-y: visible;

    }

    .steps-timeline {
        border-left: 5px solid #ad172c;
        margin-left: 35px;
    }

    .steps-one,
    .steps-two,
    .steps-three,
    .steps-four,
    .steps-five {
        margin-left: -25px;
        margin-bottom: -100px;
    }

    .step-wrap,
    .steps-stops {
        float: left;
    }

    .steps-timeline {
        border-left: 5px solid #ad172c;
        margin-left: 20px;
    }

    .pane-warp {
        margin-left: 125%;
    }

    .inverted-pane-warp {
        margin-left: 155%;
    }

    .verticle-line {
        position: absolute;
        width: 35px;
        height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }

    .step-wrap {
        height: 50px;
        width: 50px;
        background: transparent;
    }

    .bottom {
        border-bottom: 2px #0e0e0f solid;
    }

    .steps-pane h2{
        font-size: 2.5vmax;
    }

    .steps-pane p{
        font-size: 1.8vmax;
    }

    .back-blue .steps-pane{
        margin-top: -100px;
        padding-bottom: 100px;
    }

}

@media (max-width: 600px) {
    #process .container-fluid {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .verticle-line {
        width: 20px;
    }
}

.back-orange {
    background: #ad172c;
}
